@charset "utf-8";

.cell {
	display: table-cell;
	text-align: center;	
}

#g8_list img {
	margin: 5px 5px 3px 5px;
}

.img_mouseout {
	border: 5px solid transparent;
}

.img_mouseover {
	border: 5px solid #ccffcc;
}

#overlay {
	display: none;
	width: 100%;
	height:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: rgba(0,0,0,0.7);
}

#select_g8 {
	position: absolute;
	z-index: 150;
	color:red;
	font-weight:bold;
	font-size: 40px;
	line-height: 1.2;
	font-family: 'Meiryo', sans-serif;
}

#digmap {
	width: 100%;
	height:100%;
	background-repeat: no-repeat;
	position: absolute;	
}
b